.content-action-like, .content-action-dislike {
  /*color: #3F51B5;*/
  color: #39423d;
  margin-right: 6px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 0.8em;
  border: 0;
}

.content-action-like {
  color: #ef3232;
}
.content-action-like:hover, .content-action-dislike:hover {
  cursor: pointer;
  margin-top: 5px;
}

.content-action-like:focus, .content-action-dislike:focus {
  outline: none;
}

.content-list li {
  display: flex;
  align-items: center;
  color: #919191;
  padding: 10px;
  min-height: 60px;
}

/*.content-icon {
  border-radius: 50%;
  float: left;
  margin-left: 10px;
  width: 10%;
  margin-right: 10px;
}*/

a {
  color: inherit;
}

.heading--title a{
  /*color: #254441;*/
  color: #28464B;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.3vw;
  font-family: "Lato";
}

.heading--title :hover{
  color: #ef3232;
}

.no-underline{
  text-decoration: none;
}

.content-info {
  width: 80%;
  margin-left: 2vw;
}

.content-summary {
  display: inline-block;
  font-size: 0.7em;
  padding-top: 5px;
  font-size: 1.2vw;
  /*padding-bottom: 3px;*/
  font-family: "Lato";
}

.content .fa {
  font-size: 1.3em;
  margin-right: 2px;
  margin-left: 2px;
}

.content-container {
  display: flex;
  align-items: center;
  color: #919191;
  padding: 10px;
  min-height: 60px;
}

/*.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.fade.ng-enter.ng-enter-active {
  opacity:1;
}*/
